.btn {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-variation-settings: 'wght' 68, 'slnt' 100;
  font-family: 'Goia Display';
  text-transform: uppercase;

  &-primary {
    background-color: $primary-color;

    &:hover {
      box-shadow: 0 0 10px 0 rgba(252, 148, 100, 0.8);
    }
  }

  &-secondary {
    background-color: $secondary-color;
    width: fit-content;
    margin: 0 auto;
    font-variation-settings: 'wght' 68, 'slnt' 100;
    font-family: 'Goia';

    &:hover {
      box-shadow: 0 0 10px 0 rgb(236, 92, 108, 0.8);
    }
  }

  &-white {
    font-family: 'Goia';
    font-variation-settings: 'wght' 68, 'slnt' 100;
    background-color: white;
    color: $secondary-color;
    width: fit-content;
    margin: 0 auto;

    &:hover {
      box-shadow: 0 0 10px 0 rgb(255, 255, 255, 0.8);
    }
  }
}

.btn-expand{
  background-color: #fff;
  border-radius: 125px 125px 16px 125px;
  padding: 20px 16px 16px 20px;
  border: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover{
    img{
      transform: translate(5px, -5px);
    }
  }
  img{
    transition: all 0.2s ease-in-out;
    width: 36px;
  }
}