@charset "UTF-8";
@font-face {
  font-family: "Goia";
  src: url("./src/assets/fonts/Goia/GoiaVariable.ttf") format("truetype");
  font-weight: 100 900; /* Define the range of font weights */
  font-style: oblique -10deg 30deg;
}
@font-face {
  font-family: "Goia Display";
  src: url("./src/assets/fonts/Goia/GoiaDisplayVariable.ttf") format("truetype");
  font-weight: 100 900; /* Define the range of font weights */
  font-style: italic -10deg 30deg;
}
:root {
  font-family: "Goia", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.btn {
  background-color: #FC9464;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-variation-settings: "wght" 68, "slnt" 100;
  font-family: "Goia Display";
  text-transform: uppercase;
}
.btn-primary {
  background-color: #FC9464;
}
.btn-primary:hover {
  box-shadow: 0 0 10px 0 rgba(252, 148, 100, 0.8);
}
.btn-secondary {
  background-color: #EC5C6C;
  width: fit-content;
  margin: 0 auto;
  font-variation-settings: "wght" 68, "slnt" 100;
  font-family: "Goia";
}
.btn-secondary:hover {
  box-shadow: 0 0 10px 0 rgba(236, 92, 108, 0.8);
}
.btn-white {
  font-family: "Goia";
  font-variation-settings: "wght" 68, "slnt" 100;
  background-color: white;
  color: #EC5C6C;
  width: fit-content;
  margin: 0 auto;
}
.btn-white:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
}

.btn-expand {
  background-color: #fff;
  border-radius: 125px 125px 16px 125px;
  padding: 20px 16px 16px 20px;
  border: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-expand:hover img {
  transform: translate(5px, -5px);
}
.btn-expand img {
  transition: all 0.2s ease-in-out;
  width: 36px;
}

header {
  color: white;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: visible;
  /* Déplacement de l'image */
  /* Effet de rebond */
}
header nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
  font-variation-settings: "wght" 68, "slnt" 100;
}
header nav ul {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
header nav li {
  margin: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
header nav li a {
  text-decoration: none;
  color: #fff;
}
header .header-jbh {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 8rem;
}
header .header-jbh img {
  width: 60%;
  height: auto;
}
header .animated-background {
  width: 60vw;
  height: 60vw;
  z-index: -1;
  filter: blur(100px);
  background: linear-gradient(60deg, rgba(182, 55, 110, 0.2) 13.21%, rgba(246, 53, 45, 0.2) 61.86%, rgba(251, 154, 77, 0.2) 85.83%);
  border-radius: 50%;
  position: absolute;
  animation: move 20s ease-in-out infinite, bounce 10s ease-in-out infinite, rotate 45s infinite;
}
header .animated-background.inverse {
  width: 50vw;
  height: 50vw;
  animation: move-inverse 30s ease-in-out infinite reverse, bounce 10s ease-in-out infinite reverse, rotate-inverse 45s infinite reverse;
}
@keyframes move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 20vh;
    left: 50vw;
  }
  50% {
    top: 0vh;
    left: 20vw;
  }
  75% {
    top: 40vh;
    left: 0vw;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes move-inverse {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 40vh;
    left: 0vw;
  }
  50% {
    top: 0vh;
    left: 20vw;
  }
  75% {
    top: 40vh;
    left: 0vw;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-inverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and (max-width: 748px) {
  nav .anchor {
    display: none;
  }
}
.section-games {
  max-width: 1240px;
  padding: 3rem 1rem;
  margin: auto;
}
.section-games h2 {
  font-family: "Goia";
  font-variation-settings: "wght" 68, "slnt" 100;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.section-games .games-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.section-games .games-container .game {
  width: 30%;
  height: 600px;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.section-games .games-container .game:nth-child(1) {
  background-color: #CC4C94;
}
.section-games .games-container .game:nth-child(2) {
  background-color: #EC5C6C;
}
.section-games .games-container .game:nth-child(3) {
  background-color: #FC9464;
}
.section-games .games-container .game:nth-child(3).open .game__content__logo {
  width: 85%;
}
.section-games .games-container .game.close .game__content__desc, .section-games .games-container .game.close .game__content .header-icon {
  transition: all 0.3s ease-in-out;
  animation: opacity-toggle 1s ease-in-out;
}
.section-games .games-container .game__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}
.section-games .games-container .game__content .game-icon {
  width: 320px;
  object-fit: contain;
  margin-top: -10rem;
}
.section-games .games-container .game__content__desc {
  width: 100%;
}
.section-games .games-container .game__content__desc h2 {
  font-size: 1.75rem;
  min-height: 5rem;
}
.section-games .games-container .game__content__desc h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
.section-games .games-container .game__content__desc p {
  display: none;
}
.section-games .games-container .game__content__logo {
  display: none;
}
.section-games .games-container .game.open {
  width: 100%;
  justify-content: center;
}
.section-games .games-container .game.open button {
  display: none;
}
.section-games .games-container .game.open .game {
  position: relative;
}
.section-games .games-container .game.open .game__content {
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
  animation: opacity-toggle 1s ease-in-out;
}
.section-games .games-container .game.open .game__content .game-icon.header-icon {
  display: none;
}
.section-games .games-container .game.open .game__content__desc {
  width: 50%;
}
.section-games .games-container .game.open .game__content__desc h2 {
  font-size: 3.5rem;
}
.section-games .games-container .game.open .game__content__desc p {
  display: block;
}
.section-games .games-container .game.open .game__content__logo {
  display: block;
  position: absolute;
  top: 50%;
  right: -40%;
  width: 95%;
  transform: translate(0, -50%);
}
.section-games .games-container .game.open .game__content__logo .game-icon {
  width: 100%;
  margin-top: 0;
}

@media only screen and (max-width: 748px) {
  .section-games .games-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .section-games .games-container .game {
    width: 100%;
    height: auto;
    min-height: 400px;
  }
  .section-games .games-container .game__content .header-icon {
    width: 100%;
    margin-top: -12rem;
  }
  .section-games .games-container .game__content__desc h2 {
    min-height: auto;
  }
  .section-games .games-container .game.open {
    min-height: 600px;
    transition: all 0.5s ease-in-out;
  }
  .section-games .games-container .game.open .game__content {
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .section-games .games-container .game.open .game__content__desc {
    width: 100%;
  }
  .section-games .games-container .game.open .game__content__desc h2 {
    font-size: 2rem;
  }
  .section-games .games-container .game.open .game__content__logo {
    display: none;
  }
  .section-games .games-container .game.open .game__content .game-icon.header-icon {
    display: block;
  }
}
@keyframes opacity-toggle {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-pricing {
  max-width: 1240px;
  padding: 5rem 1rem 3rem 1rem;
  margin: auto;
}
.section-pricing h2 {
  font-variation-settings: "wght" 68, "slnt" 100;
  text-transform: uppercase;
  font-size: 2rem;
}

.container-pricings {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container-pricings .pricing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  justify-content: space-between;
  width: 30%;
}
.container-pricings .pricing:nth-child(1) {
  background-color: white;
  color: black;
}
.container-pricings .pricing:nth-child(1) .desc {
  color: #EC5C6C;
}
.container-pricings .pricing:nth-child(2) {
  background-color: white;
  color: black;
}
.container-pricings .pricing:nth-child(2) .desc {
  color: #EC5C6C;
}
.container-pricings .pricing:nth-child(3) {
  background-color: #EC5C6C;
  width: 40%;
}
.container-pricings .pricing .fa {
  padding: 0.25rem 0;
  font-variation-settings: "wght" 20, "slnt" 0;
}
.container-pricings .pricing h4 {
  font-variation-settings: "wght" 68, "slnt" 100;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}
.container-pricings .pricing .desc {
  text-transform: uppercase;
  font-variation-settings: "wght" 68, "slnt" 100;
  min-height: 4rem;
  line-height: 1;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 748px) {
  .section-pricing {
    padding: 3rem 1rem;
  }
  .container-pricings {
    flex-direction: column;
  }
  .container-pricings .pricing {
    width: 100%;
  }
  .container-pricings .pricing:nth-child(3) {
    width: 100%;
  }
}
.services {
  margin: 0 auto 5rem 0;
  padding: 0 2rem 5rem 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-height: 700px;
  position: relative;
}
.services .concept {
  grid-column: 1/4;
  grid-row: 1/3;
  background-image: url("./public/assets/img/backgroundService.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 1rem;
  max-height: 460px;
}
.services .concept__title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.services .concept__title h2 {
  margin: 0;
  max-width: 75%;
}
.services .concept__trailer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  width: 100%;
}
.services .concept__trailer h3 {
  color: #EC5C6C;
  font-variation-settings: "wght" 68, "slnt" 100;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: end;
  text-transform: uppercase;
  margin: 0;
}
.services .concept__trailer img {
  height: 220px;
  width: 400px;
}
.services .concept svg {
  position: absolute;
  top: -30px;
  left: 60px;
  height: 225px;
  width: auto;
  z-index: -2;
}
.services .open-beta {
  grid-column: 1/3;
  grid-row: 3;
  text-transform: uppercase;
  background-image: url("./public/assets/img/backgroundGradient.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 75%;
  margin: 0 0 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.services .jbh-feat-iim {
  grid-column: 3/4;
  grid-row: 3;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}
.services .jbh-feat-iim img {
  width: 100%;
  object-fit: contain;
}
.services .down-arrow {
  grid-column: 1;
  grid-row: 3;
  position: absolute;
  top: -50%;
  z-index: -1;
}
.services .new-game {
  grid-column: 4;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  background-color: #FC9464;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  position: relative;
}
.services .new-game span {
  font-variation-settings: "wght" 68, "slnt" 100;
  line-height: 100%;
  text-transform: uppercase;
}
.services .new-game p {
  font-variation-settings: "wght" 20, "slnt" 0;
  font-size: 1.15rem;
  margin: 0;
}
.services .new-game .separator {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}
.services .new-game h2 {
  font-family: "Goia Display";
  font-variation-settings: "wght" 68, "slnt" 100;
  line-height: 110%;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
}
.services .new-game div {
  position: relative;
}
.services .new-game div svg {
  position: absolute;
  top: -25px;
  width: 200px;
}
.services .new-game img {
  position: absolute;
  width: 100%;
  bottom: -3%;
  right: -8%;
}

@media only screen and (max-width: 748px) {
  .services {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    max-height: 1000px;
    padding: 0 1rem;
  }
  .services .concept {
    grid-column: 1/4;
    grid-row: 1/4;
    background-image: url("./public/assets/img/backgroundServiceMobile.svg");
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
  }
  .services .concept__title {
    font-size: 1rem;
    text-align: center;
  }
  .services .concept__title h2 {
    margin: 0;
    max-width: 100%;
  }
  .services .concept__trailer h3 {
    font-size: 0.9rem;
  }
  .services .concept__trailer img {
    height: 150px;
    width: 300px;
    margin: 0 auto;
  }
  .services .concept svg {
    height: 150px;
  }
  .services .open-beta {
    grid-column: 1/4;
    grid-row: 4;
    width: 100%;
    font-size: 1.1rem;
  }
  .services .jbh-feat-iim {
    grid-column: 1/4;
    grid-row: 5;
  }
  .services .down-arrow {
    display: none;
  }
  .services .new-game {
    grid-column: 1/4;
    grid-row: 6/8;
    padding: 1rem 1rem 5rem 1rem;
  }
  .services .new-game img {
    width: 65%;
    bottom: -50%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
.footer {
  background: linear-gradient(45deg, #872F74 10%, #E23145 60%, #FA9D4F 100%);
  padding: 20px 0;
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.footer .container .footer-section {
  flex: 1;
  margin-right: 20px;
}
.footer .container .footer-section h2, .footer .container .footer-section h3 {
  margin-bottom: 10px;
}
.footer .container .footer-section p {
  margin: 5px 0;
}
.footer .container .footer-section p i {
  margin-right: 5px;
}
.footer .container .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .container .footer-section ul li {
  margin-bottom: 5px;
}
.footer .container .footer-section ul li a {
  color: white;
  text-decoration: none;
}
.footer .container .footer-section ul li a:hover {
  text-decoration: underline;
}
.footer .container .footer-section .social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.footer .container .footer-section .social-icons a {
  color: white;
  font-size: 1.2em;
}
.footer .footer-logo-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.footer .footer-logo-section .footerLogo {
  width: 250px; /* Adjust size as needed */
  height: auto;
  margin: 0 100px;
}
.footer .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 50px;
  text-align: center;
}
.footer .footer-bottom p {
  display: inline;
  margin-right: 10px;
}
.footer .footer-bottom a {
  color: white;
  text-decoration: none;
}
.footer .footer-bottom a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 748px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-logo-section .footerLogo {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
