
.section-games{
    max-width: 1240px;
    margin: 7rem auto 3rem auto;
    
    h2{
        text-transform: uppercase;
        font-size: 2rem;
    }
}
.container-games{
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    height: 500px;
    margin: 0 auto;
    gap: 1rem;
    
    .game {
    flex: 1;
    transition: flex 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    h2,h4, p{
        margin: 0.5rem 0;
    }
    ul{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
    .game-expanded{
        width: 100%;
    }
    .ul-game-expanded{
        width: 75%;
    }
    li{
        p, h3{
            font-size: 1.25rem;
        }
    }
    }
    
    .game-expanded {
    flex: 2;
    }
    
    .game:nth-child(1) {
    background-color: $secondary-color;
    }
    
    .game:nth-child(2) {
    background-color: $primary-color;
    }
    
    .game:nth-child(3) {
    background-color: $secondary-color;
    }
    .button-play-game{
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 100px;
    }

    .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.instant-enter-active,
.instant-leave-active {
  transition: none;
}

.instant-enter,
.instant-leave-to {
  opacity: 0;
}
}

  