@import "utils/variables";

@import "base/typography";

@import "components/buttons";

@import "layouts/header";
@import "layouts/games";
@import "layouts/pricing";
@import "layouts/services";
@import "layouts/footer";