.section-games {
  max-width: 1240px;
  padding: 3rem 1rem;
  margin: auto;

  h2 {
    font-family: 'Goia';
    font-variation-settings: 'wght' 68, 'slnt' 100;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  .games-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .game {
      width: 30%;
      height: 600px;
      border-radius: 15px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.3s ease-in-out;
      color: #fff;
      position: relative;
      overflow: hidden;

      &:nth-child(1) {
        background-color: $fourth-color;
      }

      &:nth-child(2) {
        background-color: $secondary-color;
      }

      &:nth-child(3) {
        background-color: $primary-color;

        &.open{
          .game__content__logo{
            width: 85%;
          }
        }
      }

      &.close{
        .game__content{
          &__desc, .header-icon{
            transition: all 0.3s ease-in-out;
            animation: opacity-toggle 1s ease-in-out;
          }
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5rem;

        .game-icon {
          width: 320px;
          object-fit: contain;
          margin-top: -10rem;
        }

        &__desc {
          width: 100%;
          h2 {
            font-size: 1.75rem;
            min-height: 5rem;
          }

          h3 {
            font-size: 1.1rem;
            margin: 0.5rem 0;
          }

          p{
            display: none;
          }

        }

        &__logo {
          display: none;
        }
      }

      &.open {
        width: 100%;
        justify-content: center;

        button {
          display: none;
        }

        .game{
          position: relative;
          &__content{
            flex-direction: row;
            align-items: center;
            transition: all 0.3s ease-in-out;
            animation: opacity-toggle 1s ease-in-out;
            .game-icon {
              &.header-icon{
                display: none;
              }
            }

            &__desc{
              width: 50%;

              h2{
                font-size: 3.5rem;
              }
              p{
                display: block;
                font-variation-settings: "wght" 20, "slnt" 0;
              }
            }

            &__logo{
              display: block;
              position: absolute;
              top: 50%;
              right: -40%;
              width: 95%;
              transform: translate(0, -50%);
              .game-icon{
                width: 100%;
                margin-top: 0;
              }
            }

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .section-games{
    .games-container{
      flex-direction: column;
      justify-content: start;
      align-items: start;
      .game{
        width: 100%;
        height: auto;
        min-height: 400px;

        &__content{
          .header-icon{
            width: 100%;
            margin-top: -12rem;
          }
          &__desc{
            h2{
              min-height: auto;
            }
          }
        }

        &.open{
          min-height: 600px;
          transition: all 0.5s ease-in-out;

          .game__content{
            padding-bottom: 1rem;
            flex-direction: column;
            &__desc{
              width: 100%;
              h2{
                font-size: 2rem;
              }
            }
            &__logo{
              display: none;
            }
            .game-icon {
              &.header-icon{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes opacity-toggle {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}