.section-games{
  max-width: 1240px;
  padding: 7rem 1rem 3rem 1rem;
  margin: auto;

  h2{
    text-transform: uppercase;
    font-size: 2rem;
  }

  .games-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .game {
      width: 30%;
      height: 600px;
      border-radius: 15px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.5s ease-in-out;
      color: #fff;
      position: relative;
      overflow: hidden;

      &:nth-child(1) {
        background-color: $fourth-color;
      }

      &:nth-child(2) {
        background-color: $secondary-color;
      }

      &:nth-child(3) {
        background-color: $primary-color;
      }

      &.open {
        width: 100%;
        justify-content: center;

        button {
          display: none;
        }

        .game{
          position: relative;
          &__content{
            flex-direction: row;
            align-items: center;
            transition: all 0.3s ease-in-out;
            animation: opacity-toggle 1s ease-in-out;
            .game-icon {
              &.header-icon{
                display: none;
              }
            }

            &__desc{
              width: 50%;

              h2{
                font-size: 3.5rem;
              }
              p{
                display: block;
              }
            }

            &__logo{
              display: block;
              position: absolute;
              top: 50%;
              right: -45%;
              width: 100%;
              transform: translate(0, -50%);
              .game-icon{
                width: 100%;
                margin-top: 0;
              }
            }

          }
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;

        .game-icon {
          width: 320px;
          object-fit: contain;
          margin-top: -10rem;
        }

        &__desc {
          width: 100%;
          h2 {
            font-size: 1.75rem;
          }

          h3 {
            font-size: 1.1rem;
            margin: 0.5rem 0;
          }

          p{
            display: none;
          }

        }

        &__logo {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 748px) {
  .container-games{
    flex-direction: column;
    gap: 1rem;
  }
}

@keyframes opacity-toggle {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}